@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

.padding{
  padding: 20px 0px;
}

body{
  min-height:100vh;
}
a{
  text-decoration: none;
  color: inherit;
}

.padding .active{
  padding-bottom: 2px;
  border-bottom: 2px solid green;
  
}

@media (max-width:1050px){
  .padding .logo{
    width: 140px;
  }
  .padding-menu{
    gap: 20px;
    font-size: 17px;
  }

  .padding-right{
    gap:30px
  }

  .img {
    width: 30px;
  }

  .padding-right button{
    padding: 8px 25px;
  }
}

@media (max-width:900px){
  .padding .logo{
    width: 120px;
  }
  .padding-menu{
    gap: 15px;
    font-size: 16px;
  }

  .img {
    width: 20px;
  }

  .padding-right{
    gap:20px
  }
  .padding-right button{
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width:750px){
 
  .padding-menu{
   display: none;
  }

 
}


 .header{
  background-size: contain;
 }

 .exploreMenu{
  margin: 20px 0px;
 }
 .exploreMenu::-webkit-scrollbar{
  display: none;
 }

 .exploreP{
  font-size: max(1.4vw, 16px);
 }

 .hr{
  margin: 10px 0px;
 }

 .menu img{
  width: 7.5vw;
  cursor:pointer;
  min-width: 80px;
  border-radius: 50% ;
  transition: 0.2s;
 }
 .menu .active{
  border: 2px solid #EA7519;
  padding: 2px;
 }

 /* rating */
/* From Uiverse.io by PriyanshuGupta28 */ 
.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #6f00ff;
  transition: color 0.3s;
}

.foodDisplay h2{
  font-size: max(2vw, 24px);
}

.foodDisplayList{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(240px, 1fr));
  row-gap: 50px;
  margin-top: 30px;
  gap: 30px;
}

.foodItem{
  box-shadow: 0px 0px 10px #747474;
  transition: 0.3s;
  animation: fadeIn, 1s;
}
.foodItemImg{
  border-radius: 15px 15px 0px 0px;
}
.foodItemPrice{margin: 10px 0px;}


.footer{
  padding: 20px 8vw;
}

.footerContent{
  grid-template-columns: 2fr 1fr 1fr;
}

.footerContent li, .footerContentRight li{
  margin-bottom: 10px;
  cursor: pointer;
}

.login-container{
  width: max(23vw,330px);
  padding: 25px 30px;
}

.loginInputs input{
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}

.login p span{
  color: #EA7519;
  font-weight: 500;
  cursor: pointer;
}
.cart-title{
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  font-size: max(1vw,12px);
}

.cart-items-item{
  margin: 10px 0px;
}

.cart-bottom{
  gap: max(12vw,20px);
}
.cart-total hr{
  margin: 10px 0;
}
.cart-total button{
  width: max(15vw,200px);
  padding: 12px 0px;
}

.promocode-input button{
  width: max(10vw,150px);
  padding: 12px 5px;
}

@media (max-width:750px){
  .cart-bottom{
    flex-direction: column-reverse;
  }
  promocode{
    justify-content: start;
  }
}