@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

.padding{
  padding: 20px 0px;
}

body{
  min-height:100vh;
}
a{
  text-decoration: none;
  color: inherit;
}

.padding .active{
  padding-bottom: 2px;
  border-bottom: 2px solid green;
}
 .header{
  background-size: contain;
 }

 .exploreMenu{
  margin: 20px 0px;
 }
 .exploreMenu::-webkit-scrollbar{
  display: none;
 }

 .exploreP{
  font-size: max(1.4vw, 16px);
 }

 .hr{
  margin: 10px 0px;
 }

 .menu img{
  width: 7.5vw;
  cursor:pointer;
  min-width: 80px;
  border-radius: 50% ;
  transition: 0.2s;
 }
 .menu .active{
  border: 2px solid #EA7519;
  padding: 2px;
 }


